[Desktop Entry]
Type=Service
Name=Extract Text (tesseract)
MimeType=image/*;
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
Icon=text-flow-into-frame
Actions=ReadIt
#TryExec=tesseract

[Desktop Action ReadIt]
Name=Extract text
Name[de]=Text extrahieren
Name[fr]=Extraire du texte
Name[it]=Estrarre il testo
Name[ar]=استخراج النص
Name[is]=Draga út texta
Name[ch]=提取文本
Name[da]=Udtrække tekst
Name[et]=Udtrække tekst
Name[fi]=Poimia tekstiä
Name[ka]=Ტექსტის ამოღება
Name[el]=Εξαγωγή κειμένου
Name[he]=לחלץ טקסט
Name[id]=Ekstrak teks
Name[ga]=Sliocht téacs
Name[is]=Draga út texta
Name[jp]=テキストを抽出する
Name[ko]=텍스트 추출
Name[lv]=Izvilkt tekstu
Name[lt]=Ištraukite tekstą
Name[mi]=Tango kupu
Name[nl]=Tekst extraheren
Name[no]=Trekke ut tekst
Name[fa]=Trekke ut tekst
Name[pl]=Wyodrębnij tekst
Name[pt]=Extrair texto
Name[sv]=Extrahera text
Name[sk]=Extrahovať text
Name[es]=Extraer texto
Name[th]=แยกข้อความ
Name[cs]=Extrahovat text
Name[uk]=Витягти текст
# Icon=application-text        # =
# Icon=artistictext-tool       # a  # no display
# Icon=edit-select-text        # AI # displays arrow up left !?
# Icon=dialog-text-and-font    # T  # no display
# Icon=text-convert-to-regular # Tt
Icon=text-flow-into-frame
# this extremly simple approach tries to get the first langauge used.
# this basicly works e.g. for italian, german or english, but not for
# spanish (es!=spa) :(
# it also will brutaly overwrite existing files! :(
# TODO: it might need an error dialog on error
Exec=bash -c 'tryexec="$(type -p tesseract)"; [[ -n "$tryexec" ]] || kdialog --detailederror "tesseract not found, must quit" "tesseract(1) could not be executed from \$PATH. \n\nLikely it is not installed at all. \n\nPlease try to install with your systems package manger and try again."; [[ -n "$tryexec" ]] || exit 1; lang_option=""; lang="$(tesseract --list-langs | grep ${LANG:0:2})"; [[ -n "$lang" ]] && lang_option="-l $lang"; image="%u"; OB="${image%.*}"; tesseract "${image}" "${OB}" ${lang_option} && kdialog --title "Read-It, file created: " --passivepopup "${OB}.txt" 5'
